.herosection-parent {
    width: 100%;
    background-color: #F1F3FF;
    
}

.herosection-container {
    display: flex;
    width: 100%;
    background-color: #F1F3FF;
    align-items: center;
}

.herosection-child {
    flex: 1;
    width: 50%
}

.herosection-left {
    padding-left: 2%;
}

.herosection-left button {
    width: 160px;
    height: 36px;
    background-color: #5CB85F;
    color: white;
    /* padding: 8px, 12px, 8px, 12px; */
}

.hero-section-right {
    position: relative;
}

/* .car-background {
    position: absolute;
    width: 704px;
    height: 239px;
    left: 736px;
    top: 261px;
    background-color: #0D28A6;
    border-radius: 60px 0 0 0;
} */