.whyus-container {
  padding: 136px;
}

.whyus-child h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.whyus-child p {
  margin-top: 16px;
  font-weight: 600;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

#whyus-parent-two {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whyus-card {
  width: 268px;
  height: 196px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-weight: 500;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whyus-card {
  margin-right: 40px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.whyus-card div {
  margin-bottom: 16px;
}

.whyus-card div img {
  margin-top: 24px;
}

@media (max-width: 767px) {
    .whyus-container {
        padding: 0 16px;
        margin: 0;
    }

    .whyus-child h3 {
        margin: 0;
        text-align: center;
    }

    .whyus-child p {
        margin: 0;
        text-align: center;
    }

    #whyus-parent-two {
      justify-content: center;
    }

    .whyus-card {
        margin: 8px 16px;
    }
}