.whyus-container {
    margin: 5% 2%;
}

.whyus-child p {
    font-weight: 600;
}

#whyus-parent-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whyus-card {
    width: 268px;
    height: 196px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    font-weight: 500;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
}

.whyus-card div {
    margin : 8px 12px;
}