.detail-container{
    margin-left: 199px;
    margin-right: 199px;
    margin-bottom: 20%;
    position: absolute;
    top:20%;
    display: flex;
}

.column-detail-1{
    margin-right: 32px;
}

.column-detail-1 h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.detail-package{
    margin-top: 16px;
}

.detail-package h1{ 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    margin-top: 16px;
    margin-bottom: 8px;
}

.detail-package li{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 175%;
    color: #8A8A8A;
}

@media (max-width: 768px) {
    .detail-container {
      flex-direction: column;
    }
  
    .column-detail-1,
    #detCol2 {
      width: 100%;
    }
  }