.service-parent {
    display: flex;
    justify-content: center;
}

/* .service-child {

} */

.service-child P {
    font-weight: 500;
}
.service-child ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.service-child ul li::before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #CFD4ED;
    content: '✓';
}