.footer-parent {
    margin: 5% 2%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.footer-child {
  display: flex;
  flex: 25%;
  flex-direction: column;
}

.footer-child div {
    margin: 0 0;
}

.footer-child-address div {
    margin: 8px 0;
}


.footer-child ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-child ul li {
    margin: 8px 0;
}

.footer-child ul li a {
    color: black;
    font-weight: 200;
    text-decoration: none;
}


.footer-icons {
  display: flex;
}

.footer-icons div a img {
    margin-right: 16px;
}


.footer-logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}
